#salida {
    position: absolute;
    z-index: -1;
}

#visualización.legi {
    user-select: none;
}

#visualización.legi .devolver {
    margin-right: -4rem;
}

#visualización.legi .contexto .ruido:first-of-type {
    margin-left: -1.8rem;
}

#visualización.legi .contexto .ruido:last-of-type {
    margin-right: -1.8rem;
}

#visualización .Contexto pre {
    margin-left: 2.5rem;
}

#visualización .Función:hover:not(:has(.Función:hover)):not(:has(.Lista:hover)) {
    background-color: rgba(0, 0, 75, 0.2);
}

#visualización .Lista:hover:not(:has(.Lista:hover)):not(:has(.Función:hover)) {
    background-color: rgba(0, 0, 75, 0.2);
}

#visualización .llave {
    color: rgba(255, 255, 0, 0.2);
}

#visualización.legi .signo-de-dólar {
    margin-left: -0.5rem;
}

#visualización .creado {
    transition: background-color 500ms linear;
}

#visualización .editado {
    transition: background-color 200ms linear;
}

#visualización .Tipo div:first-of-type {
    border-radius: 0.4rem 0.4rem 0 0;
}

#visualización .Tipo div:last-of-type {
    border-radius: 0 0 0.4rem 0.4rem;
}

#visualización .Tipo div:only-of-type {
    border-radius: 0.4rem;
}

#visualización .Tipo:hover:not(:has(.Tipo:hover)) {
    border: 1px solid #FFA028;
}

#propiedades {
    padding: 0.5rem;
    background-color: color-mix(in srgb, black, white 12%);
}

#propiedades select.error {
    background-color: rgba(255, 0, 0, 0.2);
}

#propiedades .tipo {
    margin: 0.25rem;
    font-size: 1.25rem;
}

#propiedades .verificación {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: flex;
}

#propiedades .verificación p {
    font-size: 0.9rem;
    margin: auto 0.5rem;
}

#propiedades .verificación input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

#propiedades .verificación .marca {
    position: relative;
    display: inline-block;
    left: 0;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 0.33rem;
    background-color: color-mix(in srgb, black, white 6%);
}

#propiedades .verificación .marca:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.4rem;
    top: 0.2rem;
    width: 0.2rem;
    height: 0.5rem;
    border: solid white;
    border-width: 0 0.15rem 0.15rem 0;
    transform: rotate(45deg);
}

#propiedades .verificación input:checked~.marca:after {
    display: block;
}

#propiedades .elección {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: flex;
}

#propiedades .elección p {
    font-size: 0.9rem;
    margin: auto 0.5rem;
}

#propiedades .elección input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

#propiedades .elección .marca {
    position: relative;
    display: inline-block;
    left: 0;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 0.5rem;
    background-color: color-mix(in srgb, black, white 6%);
}

#propiedades .elección .marca:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.3rem;
    top: 0.3rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
}

#propiedades .elección input:checked~.marca:after {
    display: block;
}

#propiedades .propiedad {
    padding: 0.6rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: block;
    border-radius: 0.33rem;
    background-color: color-mix(in srgb, black, white 6%);
}

#propiedades .propiedad p {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
}

#propiedades .propiedad input,
#propiedades .propiedad textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.33rem;
    color: #ffffff;
    margin-bottom: 0.1rem;
    background-color: color-mix(in srgb, black, white 12%);
    border: none;
    padding: 0.5rem;
    font-size: 0.9rem;
}

#propiedades .propiedad textarea {
    resize: vertical;
    white-space: nowrap;
}

#propiedades fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#propiedades .lógica div {
    display: flex;
}

#propiedades .lógica input {
    margin: 0.5rem 0rem;
    margin-left: 0.5rem;
}

#propiedades .lógica p {
    font-size: 0.9rem;
    margin: auto 0.5rem;
}
