@font-face {
    font-family: "DejaVuSans";
    src: url("../tipografías/DejaVuSans.ttf");
}

body {
    margin: 0;
    color: #ffffff;
}

pre {
    margin: 0;
}

#visualización.legi {
    user-select: none;
}

#visualización.legi .ruido {
    position: absolute;
    color: transparent;
}

#visualización.legi .ruido span {
    color: transparent;
}

#visualización {
    padding: 0.5rem;
    background-color: rgb(75, 75, 75);
}

#visualización .bloque-de-espacios {
    position: absolute;
    z-index: -1;
}

#visualización .devolver {
    color: rgb(255, 100, 255);
}

#visualización .función {
    color: rgb(150, 255, 100);
}

#visualización.legi .Función:first-of-type {
    padding-bottom: 1.2rem;
}

#visualización.legi .Función {
    padding-bottom: 0.94rem;
}

#visualización .Función:hover:not(:has(.Función:hover)):not(:has(.Lista:hover)) {
    background-color: rgba(0, 0, 75, 0.2);
}

#visualización .Lista:hover:not(:has(.Lista:hover)):not(:has(.Función:hover)) {
    background-color: rgba(0, 0, 75, 0.2);
}

#visualización .paréntesis-de-apertura,
#visualización .paréntesis-de-cierre {
    color: rgba(255, 150, 0, 0.2);
}

#visualización .corchete {
    color: rgb(100, 150, 255);
}

#visualización .llave,
#visualización .inicio-de-texto,
#visualización .final-de-texto {
    color: rgba(255, 255, 0, 0.2);
}

#visualización .coma,
#visualización .punto-y-coma {
    color: rgba(0, 255, 0, 0.2);
}

#visualización .signo-de-número,
#visualización .signo-de-dólar,
#visualización .contexto {
    color: rgba(0, 255, 255, 0.2);
}

#visualización .Número {
    color: rgb(100, 255, 255);
}

#visualización .Texto {
    color: rgb(255, 255, 100);
}

#visualización .Lógica {
    color: rgb(255, 150, 100);
}

#visualización .Comentario,
#visualización .Contexto {
    color: rgb(225, 225, 225);
}

#visualización .seleccionado {
    background-color: #993800 !important;
}

#visualización .creado {
    transition: background-color 500ms linear;
}

#visualización .editado {
    transition: background-color 200ms linear;
}

#visualización .Tipo {
    padding: 0rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
}

#visualización>.Tipo {
    border-radius: 0.3rem;
    padding: 0.25rem 0.5rem;
}

#visualización .Tipo .Tipo,
#visualización .texto,
#visualización .signo-de-dólar,
#visualización .final-de-texto {
    margin-left: 1.3rem;
}

#visualización .contexto,
#visualización .paréntesis-de-cierre {
    margin-left: 1.8rem;
}

#visualización .texto::after {
    content: " ";
}

#visualización .Tipo div:first-of-type {
    border-radius: 0.4rem 0.4rem 0 0;
}

#visualización .Tipo div:last-of-type {
    border-radius: 0 0 0.4rem 0.4rem;
}

#visualización .Tipo div:only-of-type {
    border-radius: 0.3rem;
}

#visualización .Nueva-línea {
    padding: 0.25rem;
    background-color: rgba(0, 25, 0, 0.2);
}

#visualización .Tipo:hover:not(:has(.Tipo:hover)) {
    border: 1px solid #FFA028;
}

#propiedades {
    font-family: DejaVuSans;
    padding: 0.5rem;
    background-color: color-mix(in srgb, black, white 12%);
}

#propiedades .tipo {
    margin: 0.25rem;
    font-size: 1.25rem;
}

#propiedades .verificación {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: flex;
}

#propiedades .verificación p {
    font-size: 0.9rem;
    margin: auto 0.5rem;
}

#propiedades .verificación input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

#propiedades .verificación .marca {
    position: relative;
    display: inline-block;
    left: 0;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 0.3rem;
    background-color: color-mix(in srgb, black, white 6%);
}

#propiedades .verificación .marca:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.4rem;
    top: 0.2rem;
    width: 0.2rem;
    height: 0.5rem;
    border: solid white;
    border-width: 0 0.15rem 0.15rem 0;
    transform: rotate(45deg);
}

#propiedades .verificación input:checked~.marca:after {
    display: block;
}

#propiedades .propiedad {
    padding: 0.6rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: block;
    border-radius: 0.3rem;
    background-color: color-mix(in srgb, black, white 6%);
}

#propiedades .propiedad p {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
}

#propiedades .propiedad input,
#propiedades .propiedad textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.3rem;
    color: #ffffff;
    margin-bottom: 0.1rem;
    background-color: color-mix(in srgb, black, white 12%);
    border: none;
    padding: 0.5rem;
    font-size: 0.9rem;
}

#propiedades .propiedad textarea {
    resize: vertical;
    white-space: nowrap;
}

#propiedades fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#propiedades .lógica div {
    display: flex;
}

#propiedades .lógica input {
    margin: 0.5rem 0rem;
    margin-left: 0.5rem;
}

#propiedades .lógica p {
    font-size: 0.9rem;
    margin: auto 0.5rem;
}
